<html lang="en">
<head>
    <title>Jobs</title>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body></body>
<h1>Hi Jim, here are your jobs</h1>
<table>
    <tr>
        <th>Job ID <a href="/?toggle=id" ><i class="fa fa-fw fa-sort fa-sort-{{ sort.id }}"></i></a></th>
        <th>Contact Name <a href="/?toggle=client_name"><i class="fa fa-fw fa-sort fa-sort-{{ sort.client_name }}"></i></a></th>
        <th>Contact Number <a href="/?toggle=contact_number"><i class="fa fa-fw fa-sort fa-sort-{{ sort.contact_number }}"></i></a></th>
        <th>Address</th>
        <th>Status <a href="/?toggle=status"><i class="fa fa-fw fa-sort fa-sort-{{ sort.status }}"></i></a></th>
    </tr>
    {% for job in jobs %}
        <tr onclick="window.location='/notes/{{ job.id }}';"><td>{{ job.id }}</td>
            <td>{{ job.clientName }}</td>
            <td>{{ job.contactNumber }}</td>
            <td>{{ job.address }}</td>
            <td>
            <select id="statusoptions" onchange="sele(this.value,{{ job.id }});">
                {% for o in statusoptions %}
                    <option value="{{ o }}"
                            {% if job.status == o %}selected="selected"{% endif %}
                    >{{ o }}</option>
                {% endfor %}
            </select>
            </td>
        </tr>
    {% endfor %}

</table>
<script type="text/javascript" >
    function sele(status, jobId) {
        $('h1').hide();
// /job/status/
        $.post('/job/status/'+jobId,   // url
            { status: status }, // data to be submit
            function(data, status, jqXHR) {// success callback
            console.log(status);
                // $('p').append('status: ' + status + ', data: ' + data);
            });
    }
</script>
</html>